In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
#import ipywidgets as widgets
#Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-10-13 01:08:07,-21.2000,-175.2000,80.76,78,20,11.50
1,1,Ostrovnoy,RU,2022-10-13 01:13:34,68.0531,39.5131,37.13,90,9,13.04
2,2,Ilulissat,GL,2022-10-13 01:06:48,69.2167,-51.1000,28.42,64,100,5.75
3,3,Norman Wells,CA,2022-10-13 01:14:40,65.2820,-126.8329,26.19,87,73,4.47
4,4,Bethel,US,2022-10-13 01:10:59,41.3712,-73.4140,61.16,82,0,5.75

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

#Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-10-13 01:08:07,-21.2000,-175.2000,80.76,78,20,11.50
4,4,Bethel,US,2022-10-13 01:10:59,41.3712,-73.4140,61.16,82,0,5.75
5,5,Atuona,PF,2022-10-13 01:07:55,-9.8000,-139.0333,77.36,77,16,19.19
7,7,Rikitea,PF,2022-10-13 01:07:53,-23.1203,-134.9692,69.04,62,0,14.09
8,8,Nabire,ID,2022-10-13 01:14:41,-3.3667,135.4833,83.55,74,95,3.71
9,9,San Patricio,US,2022-10-13 01:09:42,28.0170,-97.5169,84.29,71,11,4.88
10,10,Albany,US,2022-10-13 01:09:45,42.6001,-73.9662,61.21,67,100,3.00
11,11,Geraldton,AU,2022-10-13 01:13:51,-28.7667,114.6000,64.81,39,0,17.27
12,12,Bardiyah,LY,2022-10-13 01:14:42,31.7561,25.0865,70.79,80,0,6.96
13,13,Cap Malheureux,MU,2022-10-13 01:14:42,-19.9842,57.6142,70.47,68,7,5.01

In [11]:
preferred_cities_df.count()

City_ID       343
City          343
Country       341
Date          343
Lat           343
Lng           343
Max Temp      343
Humidity      343
Cloudiness    343
Wind Speed    343
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0            Vaini      TO     80.76 -21.2000 -175.2000
4           Bethel      US     61.16  41.3712  -73.4140
5           Atuona      PF     77.36  -9.8000 -139.0333
7          Rikitea      PF     69.04 -23.1203 -134.9692
8           Nabire      ID     83.55  -3.3667  135.4833
9     San Patricio      US     84.29  28.0170  -97.5169
10          Albany      US     61.21  42.6001  -73.9662
11       Geraldton      AU     64.81 -28.7667  114.6000
12        Bardiyah      LY     70.79  31.7561   25.0865
13  Cap Malheureux      MU     70.47 -19.9842   57.6142

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel Not found...skipping.")

Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.
Hotel Not found...skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
4,Bethel,US,61.16,41.3712,-73.4140,Courtyard by Marriott Danbury
5,Atuona,PF,77.36,-9.8000,-139.0333,Villa Enata
7,Rikitea,PF,69.04,-23.1203,-134.9692,People ThankYou
8,Nabire,ID,83.55,-3.3667,135.4833,Hotel Nusantara I
9,San Patricio,US,84.29,28.0170,-97.5169,"Motel 6 Sinton, TX"
10,Albany,US,61.21,42.6001,-73.9662,
11,Geraldton,AU,64.81,-28.7667,114.6000,Broadwater Mariner Resort
12,Bardiyah,LY,70.79,31.7561,25.0865,بورتو بردية
13,Cap Malheureux,MU,70.47,-19.9842,57.6142,Pereybere Hotel & Spa

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))